footer {
  position:relative;
  padding:1em;
  border-bottom: 1px solid #37983F;
  color: #FFFFFF;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #FEB35D;
  background: rgb(0,36,0);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMjQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzAwNTcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzAwOGEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  rgba(0,36,0,1) 0%, rgba(0,87,0,1) 17%, rgba(0,138,0,1) 40%);
  background: -webkit-linear-gradient(top,  rgba(0,36,0,1) 0%,rgba(0,87,0,1) 17%,rgba(0,138,0,1) 40%);
  background: linear-gradient(to bottom,  rgba(0,36,0,1) 0%,rgba(0,87,0,1) 17%,rgba(0,138,0,1) 40%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#008a00',GradientType=0 );

}

ul{
  list-style: none;
  padding: 0 2em;
  text-align: left;
}

li{
  text-align: left;
}

a {
  color: #FFFFFF;
}

a:hover, a:focus {
  color: #c2c2c2;
  text-decoration: none;
}

a:hover {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.main {
  display:inline-block;
  width: 92%;
  text-align: left;
}

.resources, .help, .community {
  /*width:20%;*/
  display:inline-block;
  margin: 1em;
}

.resources, .help {
  border-right: 1px solid #FFFFFF;
}

.abkhaz-flag {
  float:left;
  width: 2.8em;
  height: 2.5em;
  background-image: url('/images/flag.gif');
  background-repeat: no-repeat;
  border-radius: 100px;
  border-left: 1.5px solid #000000;
  border-right: 1.5px solid #000000;
  background-size: 7.1em;
}

@media (max-width: 616px) {
  .main {
    width:auto;
  }

  .resources, .help {
    border-right: none;
  }

  .resources, .help, .community {
    margin: 0;
  }

  .abkhaz-flag {
    position: absolute;
    right: 1em;
    bottom: 1.5em;
  }
}
