ToDo.txt
src/app/*.js
src/app/*.js.map
src/app/*.*.js
src/app/*.*.js.map
src/app/*/*.*.js
src/app/*/*.*.js.map
src/app/*/*/*.*.js
src/app/*/*/*.*.js.map
dist
node_modules/*
typings/*
*.pem
npm-debug.log
