@font-face {
font-family: 'Apsni';
src: url('./fonts/Apsni.ttf')  format('truetype');
}

section, article, aside, footer, header, nav, hgroup {
  display:block;
}

lib-app{
  border-left: 1px solid #FEB35D;
  border-right: 1px solid #FEB35D;
  border-radius: 0 0 10px 10px;
  display: block;
  background-color: #fff;
}

body{
  padding:0 15%;
}

.rtl-dir{
  direction: rtl;
}

.rtl-rotate{
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

@media (max-width: 1071px) {
  body {
    padding: 0 10%;
  }

@media (max-width: 936px) {
  body {
    padding: 0 5%;
  }
}

@media (max-width: 833px) {
  body {
    padding: 0;
  }
}
