section, article, aside, footer, header, nav, hgroup {
  display:block;
}

body {
  margin:0 15%;
  border-left: 1px solid #FEB35D;
  border-right: 1px solid #FEB35D;
  border-radius: 0 0 10px 10px;
}

@media (max-width: 800px) {
  body {
    margin: 0;
  }
}

@media (max-width: 980px) and (min-width: 801px) {
  body {
    margin: 0 10%;
  }
}
