.home-library1, .home-library2, .home-library3, .home-library4, .home-library5, .home-library6, .home-library7, .home-library8, .home-library9{
  height: 500px;
  background-repeat: no-repeat;
  border-radius: 15px;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  box-shadow: 1px 1px 50px 1px #4e3811;
  -moz-box-shadow: 1px 1px 50px 1px #4e3811;
  -webkit-box-shadow: 1px 1px 50px 1px #4e3811;
  -o-box-shadow: 1px 1px 50px 1px #4e3811;
}
.home-library1{
  background-image: url('/images/library1.jpg');
}

.home-library2{
  background-image: url('/images/library2.jpg');
}

.home-library3{
  background-image: url('/images/library3.jpg');
}

.home-library4{
  background-image: url('/images/library4.jpg');
}

.home-library5{
  background-image: url('/images/library5.jpg');
}

.home-library6{
  background-image: url('/images/library6.jpg');
}
.home-library7{
  background-image: url('/images/library7.jpg');
}
.home-library8{
  background-image: url('/images/library8.jpg');
}
.home-library9{
  background-image: url('/images/library9.jpg');
}

.panel-title {
  text-align: center;
}

.home-header{
  width: 200px;
}
