lib-content, lib-nav, lib-header, lib-footer{
  display: block;
}

lib-content{
  padding-left: 1em;
  padding-right: 1em;
}

@media (max-width: 767px) {
  lib-content{
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
