lib-content, lib-nav, lib-header, lib-footer{
  display: block;
}

.v4-tease {
  position: relative;
    display: block;
    padding: 15px 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #3c763d;
    text-decoration: none;
}

.v4-tease:hover, .v4-tease:focus {
  color: #fff;
  background-color: #3b8284;
  text-decoration: none;
}

.v4-tease, .v4-tease:hover {
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 1s;
}
