header {
  height:45%;
  position:relative;
  padding: 0 1em 1em 1em;
  border-bottom: 1px solid #FEB35D;
  background-image: url('/images/mountain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
}

header:after {
  content:"";
  display:block;
  clear:both;
}

header h1 {
  width: 85%;
  text-align: center;
  padding-top: 0.9em;
  margin-top: 0;
  font-size: 2.25em;
  color: #555;
}

.v4-tease {
    position: relative;
    display: block;
    padding: 10px 10px;
    margin-left: -1em;
    margin-right: -1em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #3c763d;
    text-decoration: none;
}

.v4-tease:hover, .v4-tease:focus {
  color: #fff;
  background-color: #3b8284;
  text-decoration: none;
}

.v4-tease, .v4-tease:hover {
    /*-webkit-transition-duration: 1s; /* Safari */*/
    /*transition-duration: 1s;*/
}

.abkhaz-gerb {
  float:left;
  width: 120px;
  height: 150px;
  background-image: url('/images/gerb.png');
  background-repeat: no-repeat;
}

@media (max-width: 616px) {
  header h1 {
    font-size: 1.6em;
    width: 90%;
  }

  header{
    height: auto;
    background-image: url('/images/mountain-sm.jpg');
  }

  .abkhaz-gerb {
    width: 75px;
    height: 94px;
    background-image: url('/images/gerb-sm.png');
  }
}
@media (max-width: 768px) {
  header{
    height: auto;
  }
}
