header {
  height:50%;
  position:relative;
}

header:after {
  content:"";
  display:block;
  clear:both;
}

header h1 {
  width: 85%;
  text-align: center;
  padding-top: 0.9em;
  margin-top: 0;
  font-size: 2.25em;
  color: #555;
}

.row{
  margin-right: 0;
  margin-left: 0;
}

.v4-tease {
    position: relative;
    display: block;
    padding: 10px 10px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #3c763d;
    text-decoration: none;
}

.header-title{
  text-align: left;
  padding-left: 0;
}

.header-title div {
  display: inline-block;
}

.nav-pills > li > a {
  padding: 6px 12px;
  color: #fff;
  border: 1px solid #fff;
  font-weight: normal;
}

.nav-pills > li + li {
    margin-left: 5px;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
  background-color: #39613a;
}

.nav-pills > li > img {
  width: 35px;
}

.header-login{
  text-align: right;
  padding-right: 0;
}

.v4-tease:hover, .v4-tease:focus {
  color: #fff;
  background-color: #3b8284;
  text-decoration: none;
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
}

.abkhaz-gerb {
  left: 2em;
  z-index: 1;
  position: absolute;
  width: 120px;
  height: 150px;
  background-image: url('/images/gerb.png');
  background-repeat: no-repeat;
}

@media (max-width: 616px) {
  header h1 {
    font-size: 1.6em;
    width: 90%;
  }

  header{
    height: auto;
  }

  .slick-carousel{
    height:16%;
  }

  .abkhaz-gerb {
    left: 1em;
    width: 75px;
    height: 94px;
    background-image: url('/images/gerb-sm.png');
  }
}
@media (max-width: 768px) and (min-width: 617px) {
  header{
    height: auto;
  }
  .slick-carousel{
    height:20%;
  }
}
