header {
  position:relative;
}

header:after {
  content:"";
  display:block;
  clear:both;
}

.image {
  text-align: center;
  background: rgb(0,36,0);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMjQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzAwNTcwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzAwOGEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  rgba(0,36,0,1) 0%, rgba(0,87,0,1) 17%, rgba(0,138,0,1) 40%, rgba(0,36,0,1) 90%);
  background: -webkit-linear-gradient(top,  rgba(0,36,0,1) 0%,rgba(0,87,0,1) 17%,rgba(0,138,0,1) 40%, rgba(0,36,0,1) 90%);
  background: linear-gradient(to bottom,  rgba(0,36,0,1) 0%,rgba(0,87,0,1) 17%,rgba(0,138,0,1) 40%, rgba(0,36,0,1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#008a00',GradientType=0 );
}
.image img {
  height:auto;
}

header h1 {
  width: 85%;
  text-align: center;
  padding-top: 0.9em;
  margin-top: 0;
  font-size: 2.25em;
  color: #555;
}

.row{
  margin-right: 0;
  margin-left: 0;
}

.v4-tease {
    position: relative;
    display: block;
    padding: 10px 10px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #3c763d;
    text-decoration: none;
}

.header-title{
  text-align: left;
  padding-left: 0;
}

.header-title div {
  display: inline-block;
}

.nav-pills > li > a {
  padding: 6px 12px;
  color: #fff;
  border: 1px solid #fff;
  font-weight: normal;
}

.nav-pills > li + li {
    margin-left: 5px;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus {
  background-color: #39613a;
}

.nav-pills > li > img {
  width: 35px;
}

.header-login{
  text-align: right;
  padding-right: 0;
}

.v4-tease:hover, .v4-tease:focus {
  color: #fff;
  background-color: #3b8284;
  text-decoration: none;
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 1s;
}

.abkhaz-gerb {
  left: 2em;
  z-index: 1;
  position: absolute;
  width: 120px;
  height: 150px;
  background-image: url('/images/gerb.png');
  background-repeat: no-repeat;
}

@media (max-width: 616px) {
  header h1 {
    font-size: 1.6em;
    width: 90%;
  }

  header{
    height: auto;
  }

  .image img {
        height: 18%;
  }

  .abkhaz-gerb {
    left: 1em;
    width: 75px;
    height: 94px;
    background-image: url('/images/gerb-sm.png');
  }
}
@media (max-width: 768px) and (min-width: 617px) {
  header{
    height: auto;
  }

  .image img {
        height: 18%;
  }
}
