<header>
<div class="v4-tease row">
  <div class="header-title col-xs-8">
    <div *ngIf="auth.authenticated()">
      <ul class="nav nav-pills">
        <li role="presentation"><img [src]="auth.userProfile && auth.userProfile.picture" alt="" class="img-circle"></li>
        <li role="presentation"><a class="app-rtl" [routerLink]="['/profile']">{{'profile' | translate}}</a></li>
      </ul>
    </div>
  </div>
  <div class="header-login col-xs-4">
    <button class="btn btn-primary btn-margin app-rtl" (click)="auth.login()" *ngIf="!auth.authenticated()">{{'login' | translate}}</button>
    <button class="btn btn-primary btn-margin app-rtl" (click)="auth.logout()" *ngIf="auth.authenticated()">{{'logout' | translate}}</button>
  </div>
</div>
<a [routerLink]="['/home']"><span class="abkhaz-gerb app-rtl"></span></a>
<h1 class="app-rtl"></h1>
</header>
