<div class="nav navbar-nav dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language <span class="caret"></span></a>
  <ul (click)="selectLang($event)" class="dropdown-menu">
    <li><a><span class="glyphicon flag-ab"></span> Abkhaz</a></li>
    <li><a><span class="glyphicon flag-en"></span> English</a></li>
    <li><a><span class="glyphicon flag-ru"></span> Russian</a></li>
    <li><a><span class="glyphicon flag-tr"></span> Turkish</a></li>
    <li><a><span class="glyphicon flag-ar"></span> Arabic</a></li>
  </ul>
</div>
