.dropdown{
  position: absolute;
  top: 2.5em;
  right: 2em;
}
a{
  color: #ffffff;
}
.dropdown-menu > li > a{
  padding: 3px 5px;
}
a:hover, a:focus {
  color: #c2c2c2;
  text-decoration: none;
}
a:hover {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.dropdown-menu{
  min-width: 50px;
  max-height: 100px;
  overflow-y: scroll;
}
.flag-en, .flag-ru, .flag-ab, .flag-tr, .flag-ar{
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  top: 4px;
}
.flag-en{
  background-image: url('/images/flags/en.png');
}
.flag-ru{
  background-image: url('/images/flags/ru.png');
  border: 0.5px solid rgba(8, 8, 8, 0.35);
}
.flag-tr{
  background-image: url('/images/flags/tr.png');
}
.flag-ar{
  background-image: url('/images/flags/ar.png');
}
.flag-ab{
  background-image: url('/images/flags/ab.gif');
}
