<div class="search-container">
  <div *ngIf="model.type" class="search-result">
    <h4>{{'noOfResults' | translate}}: {{noOfResults}}</h4>
    <div *ngFor="let result of searchResult" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{result.TITLE}}</h3>
      </div>
      <div class="panel-body">
        Year: {{result.YEAR}} Publisher: {{result.PUBLISHER}} Country: {{result.COUNTRY}} Language: {{result.LANGUAGE}}
        <div>
          <a href="{{result.URI}}">Resource</a>
        </div>
      </div>
    </div>
    <div *ngIf="model.startIndex < noOfResults" class="more">
      <a (click)="getNext()">{{'more' | translate}}</a>
    </div>
  </div>
  <div *ngIf="!model.type" class="no-search">
    <p>{{'newSearch' | translate}}</p>
  </div>
</div>
