<footer>
<div class="abkhaz-flag"></div>
<div class="main">
  <div class="resources">
    <ul> <h4>{{footer.resources}}</h4>
      <li><a href="#">{{footer.about}}</a></li>
      <li><a href="#">{{footer.books}}</a></li>
      <li><a href="#">{{footer.instruments}}</a></li>
      <li><a href="#">{{footer.community}}</a></li>
    </ul>
  </div>
  <div class="help">
    <ul> <h4>{{footer.help}}</h4>
      <li><a href="#">{{footer.google}}</a></li>
      <li><a href="#">{{footer.reportproblems}}</a></li>
      <li><a href="#">{{footer.feedback}}</a></li>
      <li><a href="#">{{footer.contribute}}</a></li>
    </ul>
  </div>
  <div class="community">
    <ul> <h4>{{footer.communityheader}}</h4>
      <li><a href="#">{{footer.events}}</a></li>
      <li><a href="#">{{footer.meetups}}</a></li>
      <li><a href="#">{{footer.twitter}}</a></li>
      <li><a href="#">{{footer.apsny}}</a></li>
    </ul>
  </div>
</div>
</footer>
