<footer>
<div class="abkhaz-flag"></div>
<div class="main">
  <div class="resources">
    <ul> <h4>{{'resources'| translate }}</h4>
      <li><a href="#">{{'about'| translate }}</a></li>
      <li><a href="#">{{'books'| translate }}</a></li>
      <li><a href="#">{{'instruments'| translate }}</a></li>
      <li><a href="#">{{'community'| translate }}</a></li>
    </ul>
  </div>
  <div class="help">
    <ul> <h4>{{'help'| translate }}</h4>
      <li><a href="#">{{'google'| translate }}</a></li>
      <li><a href="#">{{'reportproblems'| translate }}</a></li>
      <li><a href="#">{{'feedback'| translate }}</a></li>
      <li><a href="#">{{'contribute'| translate }}</a></li>
    </ul>
  </div>
  <div class="community">
    <ul> <h4>{{'communityheader'| translate }}</h4>
      <li><a href="#">{{'events'| translate }}</a></li>
      <li><a href="#">{{'meetups'| translate }}</a></li>
      <li><a href="#">{{'twitter'| translate }}</a></li>
      <li><a href="#">{{'apsny'| translate }}</a></li>
    </ul>
  </div>
</div>
</footer>
