<footer>
<div class="abkhaz-flag"></div>
<div class="main">
  <div class="resources">
    <ul class="app-rtl"> <h4>{{'resources'| translate }}</h4>
      <li><a href="#">{{'books'| translate }}</a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100011229374256&ref=br_rs" target="_blank">{{'community'| translate }}</a></li>
      <li><a href="#">{{'instruments'| translate }}</a></li>
      <li><a href="#">{{'about'| translate }}</a></li>
    </ul>
  </div>
  <div class="help">
    <ul class="app-rtl"> <h4>{{'help'| translate }}</h4>
      <li><a href="https://github.com/danielinux7/Sukhum-Library/tree/develop" target="_blank">{{'contribute'| translate }}</a></li>
      <li><a href="#">{{'google'| translate }}</a></li>
      <li><a href="#">{{'reportproblems'| translate }}</a></li>
      <li><a href="#">{{'feedback'| translate }}</a></li>
    </ul>
  </div>
  <div class="community">
    <ul class="app-rtl"> <h4>{{'communityheader'| translate }}</h4>
      <li><a href="#">{{'events'| translate }}</a></li>
      <li><a href="#">{{'meetups'| translate }}</a></li>
      <li><a href="#">{{'twitter'| translate }}</a></li>
      <li><a href="http://fondapsny.org/" target="_blank">{{'apsny'| translate }}</a></li>
    </ul>
  </div>
</div>
<lib-language></lib-language>
</footer>
