<div class="news-container">
  <div *ngFor="let post of news">
    <div class="panel panel-{{post.type}}">
      <div class="panel-heading">
        <h3 class="panel-title">{{post.name || post.type}}</h3>
      </div>
      <div class="panel-body">
        <img *ngIf="post.type !== 'video'" src="{{post.picture}}" alt="" />
        <div *ngIf="post.type === 'video'" class="video-container">
          <div id="youtube_canvas">
            <iframe frameborder="0" [src]="post.url"></iframe>
          </div>
        </div>
        {{post.message}}
      </div>
    </div>
  </div>
</div>
<!-- <dynamic-html-outlet [htmlPath]="html"></dynamic-html-outlet> -->
