<div class="news-container" (click)="togglePanel($event)">
  <div *ngFor="let post of news">
    <div class="panel panel-{{post.type}}">
      <div class="panel-heading">
        <div class="panel-title">
          {{post.created_time | date:'dd/MM/yyyy'}}
        </div>
      </div>
      <div class="panel-body">
        <div class="panel-media">
          <img *ngIf="post.type !== 'video'" src="{{post.picture}}" alt="" />
          <div *ngIf="post.type === 'video'" class="video-container">
            <div id="youtube_canvas">
              <iframe frameborder="0" [src]="post.url"></iframe>
            </div>
          </div>
        </div>
        <div class="panel-info">
            {{post.message || post.name}}
        </div>
      </div>
      <div class="panel-space"></div>
      <div class="panel-footer">
        <a class="hidden-xxs">{{'more' | translate}}</a>
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</div>
<!-- <dynamic-html-outlet [htmlPath]="html"></dynamic-html-outlet> -->
