.news-container{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
.panel-footer{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.panel-space{
  height: 15px;
}
.open{
  height: auto !important;
  width: auto !important;
}
.no-bg{
  background: none !important;
  padding-top: 0 !important;
}
.panel{
  margin: 0.5em;
  width: 210px;
  height: 300px;
  min-height: 300px;
  position:relative;
  overflow-y: hidden;
}
.panel-info {
  font-size: 14px;
  padding-top: 15px;
}
.panel-body {
  padding-top: 0;
}
.panel-footer{
  position: absolute;
  bottom:0;
  padding-top: 3.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.3em;
  width: 100%;
  border: none;
  background: rgba(255,255,255,0.23);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.23) 0%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.23)), color-stop(66%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.23) 0%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.23) 0%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.23) 0%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.23) 0%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
.glyphicon-thumbs-up{
  color: #337ab7;
  line-height: inherit;
}
.panel-media {
  display: block;
  vertical-align: middle;
  text-align: center;
}
  .panel-status {
    border-color: #faebcc;
  }
  .panel-status > .panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }
  .panel-event {
    border-color: #ebccd1;
  }
  .panel-event > .panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  .panel-video {
    border-color: #a6d8fd;
  }
  .panel-video > .panel-heading {
    color: #167ac6;
    background-color: #c4e5ff;
    border-color: #a6d8fd;
  }
  .panel-photo {
    border-color: #d6e9c6;
  }
  .panel-photo > .panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  .video-container{
    overflow:hidden;
    height:150px;
    max-height:100%;
    margin-left: -15px;
    margin-right: -15px;
  }
  #youtube_canvas {
    height:100%;
    width:100%;
    max-width:100%
  }
  #youtube_canvas img {
    max-width:none!important;
    background:none!important;
  }
  #youtube_canvas iframe {
    height:100%;
    width:100%;
    max-width:100%;
    border:0;
  }
  @media (max-width: 616px) {
    .panel{
      margin: 0;
      margin-bottom: 0.5em;
      width: 100%;
      height: auto;
      min-height: inherit;
    }
    .news-container{
      flex-direction: column;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      -moz-flex-direction: column;
      -o-flex-direction: column;
    }
    .video-container{
      height:270px;
      max-width:100%;
      max-height:100%;
      margin-left: 0;
      margin-right: 0;
    }
    .panel-body {
      padding-top: 15px;
      padding-bottom: 0;
    }
    .panel-info {
      padding-top: 0;
    }
    .panel-media{
      text-align: initial;
    }
    .panel-footer{
      position: relative;
      padding-top: 0;
      justify-content: flex-end;
      -webkit-justify-content: flex-end;
    }
    .panel-space{
      height: 0;
    }
}
