<div id="calendar-container">
  <div id='calendar'></div>
  <div id="event-detail" class="alert alert-info alert-dismissible hide-sm" role="alert">
    <button type="button" class="close hide-bg" (click)="onSelect($event)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="event-detail-section">
      <h4>{{'eventTitleHeader' | translate}}</h4>
      {{currentEvent.summary}}
    </div>
    <div class="event-detail-section">
      <h4>{{'eventDescription' | translate}}</h4>
      {{ currentEvent.description}}
    </div>
    <div class="event-detail-section">
      <h4>{{'eventLocation' | translate}}</h4>
      {{ currentEvent.location}}
    </div>
    <div class="event-detail-section">
      <h4>{{'eventTime' | translate}}</h4>
      {{ currentEvent.start.dateTime}}  {{ currentEvent.end.dateTime}}
    </div>
  </div>
</div>
