.nav-home{
  height: 50px;
  font-size: 18px;
}

nav {
  padding: 0 15%;
}

.navbar{
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .navbar-main .navbar-collapse {
    padding-left: 0;
  }
}

@media (max-width: 767px) {

  .navbar-header {
    position: absolute;
    top: -8.5em;
    right: 0;
    height:0px;
    background-color: #FFE0BC;
    border:none;
  }
  .navbar-default .navbar-toggle {
    background-color: #efa24a;
    border-color: #dbbb69;
    margin-top: 1.5em;
  }
  /*.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #FFE0BC;
  }*/
  .navbar-default .navbar-toggle {
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
  }
  .navbar {
    min-height: 0px;
  }
  .navbar-main {
    border-bottom: 1px solid #FEB35D;
  }
}

@media (max-width: 1071px) {
  nav {
    padding: 0 10%;
  }

@media (max-width: 936px) {
  nav {
    padding: 0 5%;
  }
}

@media (max-width: 833px) {
  nav {
    padding: 0;
  }
}
