/*nav{
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}*/
.nav-home{
  height: 50px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .navbar-main .navbar-collapse {
    padding-left: 0;
  }
}

@media (max-width: 767px) {

  .navbar-header {
    position: absolute;
    top: -8.5em;
    right: 0;
    height:0px;
    background-color: #FFE0BC;
    border:none;
  }
  .navbar-default .navbar-toggle {
    background-color: #f9ce9c;
    border-color: #dbbb69;
  }
  /*.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #FFE0BC;
  }*/
  .navbar-default .navbar-toggle {
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
  }
  .navbar {
    min-height: 0px;
  }
  .navbar-main {
    border-bottom: 1px solid #FEB35D;
  }
}
